<div class="h-100">
    <div class="flex w-100 pt-3 p-4 flex-column justify-content-between" style="background-color: white; z-index: 1;">
        <datepicker [(date)]="date" [monthly]="true" (dateChange)="monthChanged($event)" #datepicker>
        </datepicker>

        <div *ngFor="let m of messengers()">
            <div [style.opacity]="m.shifts.length ? 1 : .25">
                <h3 style="cursor: pointer; white-space: nowrap; margin: 0">
                    <a (click)="m.openDialog()">{{!m.lastName ? 'nachnamen eintragen' : m.lastName}}, {{!m.firstName ?
                        'vornamen eintragen' : m.firstName}}</a>
                </h3>
                <h5 style="font-style: italic;">
                    {{m.nickname}}
                </h5>
                <h6>{{m.shifts?.length}} schicht(en) im {{months()[date.getMonth()]}} {{date.getFullYear()}}</h6>
            </div>
            <hr>
        </div>
    </div>
</div>