<mat-form-field class="p-0" [class.w-100]="!width" [style.width]="width || 'unset'">
  <mat-label><i *ngIf="icon" class="mr-1 bi" [class]="icon"></i>{{ label }}</mat-label>
  <textarea
    type="text"
    autofocus
    matInput
    #input
    #trigger="matAutocompleteTrigger"
    [matAutocomplete]="auto"
    [(ngModel)]="searchTerm"
    [placeholder]="placeholder"
    (keyup)="keyup($event)"
    (focus)="registerMe()"
    [formControl]="required ? ctrl : ctrlVoid"
    [required]="required"
    rows="1"
    cdkTextareaAutosize
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="4"
  ></textarea>
  <mat-error *ngIf="required && ctrl.invalid">bitte {{ label }} eingeben</mat-error>
  <i *ngIf="searchTerm" class="bi bi-x bi-x-transparent position-absolute" style="right: 0; bottom: 7px" (click)="!disabled ? reset(true) : 0" tabindex="-1">
  </i>

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    id="autocomplete"
    [panelWidth]="'unset'"
    (contextmenu)="$event.stopPropagation()"
    (focusout)="autocomplete.closePanel()"
  >
    <mat-option *ngFor="let option of allOptions" class="{{ option.cssClass }}" (onSelectionChange)="_handleSelection(option)" [value]="option.value">
      <!-- the white ones -->
      <div *ngIf="option.type == 0" class="flex flex-col">
        <small class="flex flex-row align-items-center pt-1">
          <img *ngIf="option.loc.geocoder === 0" src="assets/osm.png" alt="osm" class="mr-1" style="height: 14px" />
          <img *ngIf="option.loc.geocoder === 1" src="assets/azure.png" alt="bing" class="mr-1" style="height: 14px" />
          <strong>
            {{ option.loc.street }}
          </strong>
        </small>
        <small>
          {{ option.loc.street + ', ' }}
          <span [style.font-weight]="option.loc.city === 'Bremen' ? 'normal' : 'bold'">
            {{ option.loc.zipCode + ' ' + option.loc.city }}
          </span>
        </small>
      </div>

      <!-- the red ones -->
      <div *ngIf="option.type == 1" class="flex flex-col">
        <small>
          <strong>
            {{ option.loc.name }}
          </strong>
        </small>
        <small>{{ option.loc.street + ', ' + option.loc.zipCode + ' ' + option.loc.city }}</small>
      </div>

      <!-- the blue ones -->
      <div *ngIf="option.type == 2" class="flex flex-col">
        <small>
          <strong>
            {{ option.loc.name }}
          </strong>
        </small>
        <small>{{ option.loc.street + ', ' + option.loc.zipCode + ' ' + option.loc.city }}</small>
      </div>

      <!-- the black ones -->
      <div *ngIf="option.type == 3" class="flex flex-col">
        <small>
          <strong> {{ option.client.name }}</strong>
        </small>
        <small>{{ option.client.street + ', ' + option.client.zipCode + ' ' + option.client.city }}</small>
        <small>{{ option.client.clientId }}</small>
      </div>

      <!-- the purple ones -->
      <div *ngIf="option.type == 4">
        {{ option.messenger.nickname }}
      </div>

      <!-- the green ones -->
      <div *ngIf="option.type == 5" style="width: 300px" (contextmenu)="$event.stopPropagation()">
        <div class="mb-2 ml-4 flex flex-col">
          <small
            ><strong>{{ option.job.name }}</strong></small
          >
        </div>
        <div class="flex flex-row justify-content-between align-items-center">
          <small class="mr-2 w-80 flex-column text-truncate">
            <p class="flex flex-row align-items-center" style="margin: unset" *ngFor="let station of option.job.pickups">
              <i class="bi bi-arrow-left-short toBottom"></i>
              {{ station.name || station.address }}
            </p>
            <p class="flex flex-row align-items-center" style="margin: unset" *ngFor="let station of option.job.deliveries">
              <i class="bi bi-arrow-right-short toBottom"></i>
              {{ station.name || station.address }}
            </p>
          </small>
          <div *ngIf="option.job.cargoType > 0" class="mr-2 flex align-items-center">
            <img *ngIf="option.job.cargoType === 1" src="../../../../../assets/cargo/last.png" alt="lastzuschlag" width="20px" />
            <img *ngIf="option.job.cargoType === 2" src="../../../../../assets/cargo/lastenrad.png" alt="lastenrad" width="35px" />
            <img *ngIf="option.job.cargoType === 3" src="../../../../../assets/cargo/carla.png" alt="e-lastenrad + anhänger" width="45px" />
          </div>
          <small *ngIf="option.job.distributeNumber > 0" class="mr-2">{{ option.job.distributeNumber }} abgaben</small>
          <span *ngIf="!option.job.clientInvolved"><i class="mr-2 bi bi-person-x"></i></span>
          <span style="font-family: monospace" class="mr-2">{{ option.job.price._netto }}</span>
          <span *ngIf="option.job.connection" style="font-family: monospace" class="mr-2"> (Anschluss)</span>
        </div>
      </div>
    </mat-option>

    <!-- ladekreis -->
    <mat-option *ngIf="searching > 0" id="searchInputLoading" class="flex align-items-center justify-content-center">
      <div class="flex h-100 pl-4 align-items-center justify-content-center">
        <mat-spinner class="position-absolute" [diameter]="20"></mat-spinner>
      </div>
    </mat-option>
    <mat-option *ngIf="selection && searching === 0 && searchJobs && jobOptions?.length === 0" class="flex align-items-center justify-content-center">
      <div class="flex h-100 align-items-center justify-content-center">
        <i>- keine aufträge gefunden -</i>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
