@use "src/const.scss" as const;

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-wrapper {
  padding-bottom: 17px;
}

.mat-mdc-option {
  max-width: 400px;
  min-width: 250px;
}

.mat-mdc-form-field {
  padding-right: 20px;
}

.job-option {
  border-left: 3px solid const.$billing !important;
  min-height: 48px;
  height: unset;
  padding: 8px 5px;
}

.client-option {
  border-left: 3px solid const.$client-option !important;
}

.location-option {
  border-left: 3px solid const.$location-option !important;
}

.client-client-option {
  border-left: 3px solid const.$client-client-option !important;
  height: fit-content;
  padding: 6px 15px;
}

.messenger-option {
  border-left: 3px solid const.$messenger-option !important;
}

.zone-option {
  border-left: 3px solid const.$lex !important;
}
